body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background: #181a1b;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box;
}

header {
    background: url(../img/face_golo.jpeg) no-repeat center top / cover;
    padding-bottom: 160px;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.logo {
    margin-top: 30px;
    float: left;
}

nav {
    float: right;
    margin-top: 50px;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 30px;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    text-shadow: black 2px 2px 2px;
}

.titles_first {
    color: #ffffff;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: black 2px 2px 2px;
    margin-top: 180px;
}

h1 {
    color: #ffffff;
    font-size: 75px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: black 2px 2px 2px;
    margin: 35px;
}

.button {
    background: #ad3100;
    color: #ffffff;
    border-radius: 5px;
    display: block;
    width: 250px;
    padding: 20px 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin: 50px auto 0;
}

.title {
    padding-top: 115px;
}

.title p {
    color: #bdb8af;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}

.title h2 {
    color: #dcd9d4;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.services {
    margin-top: 50px;
}

.services_item {
    width: 300px;
    float: left;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

.services_item h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.services_item h3 {
    color: #dcd9d4
}

.services_item p {
    font-size: 14px;
    color: #bdb8af;
    line-height: 1.5em;
}

.services_item:last-child {
    float: right;
}

.services_item:nth-child(2) {
    margin-left: 90px;
}

.versions_img_left {
    max-width: 300px;
    max-height: 300px;
    border-radius: 100px;
    float: left;
    margin: 20px;
}

.versions_img_right {
    max-width: 300px;
    max-height: 300px;
    border-radius: 100px;
    float: right;
    margin: 20px;
}

.version_item_right {
    text-align: center;
    float: left;
}

.version_item_left {
    text-align: center;
    float: right;
}

.version_item_left h3 {
    padding-top: 25px;
    color: #dcd9d4
}

.version_item_left p {
    font-size: 14px;
    color: #bdb8af;
    line-height: 1.5em;
    padding-bottom: 50px;
}

.version_item_right h3 {
    padding-top: 25px;
    color: #dcd9d4
}

.version_item_right p {
    font-size: 14px;
    color: #bdb8af;
    line-height: 1.5em;
    padding-bottom: 50px;
}

#services {
    padding-bottom: 100px;
}

#versions {
    padding-bottom: 100px;
    background: #212121;
}

#contacts {
    padding-bottom: 100px;
}

form {
    border: 1px solid #bdb8af;
    border-radius: 5px;
    font: 14px/1.4 Arial, sans-serif;
    overflow: hidden;
    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input {
    border-radius: 5px;
    font: 14px/1.4 Arial, sans-serif;
    margin: 0;
}

.your-account {
    padding: 20px 20px 0 20px;
}

.your-account label {
    color: #395870;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}

.account-action {
    background: #f0f0f2;
    border-top: 1px solid #c6c7cc;
    padding: 20px;
}

.account-action .btn {
    background: linear-gradient(#49708f, #293f50);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 16px;
}

#sign_op {
    width: 1000px;
    height: 300px;
    margin: 100px auto 50px auto;
    padding: 20px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #293f50;
}
#sign_op::before,
#sign_op::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 2px;
    right: 2px;
    top: 0;
    z-index: -1;
    background: #fff;
    border: 1px solid #ccc;
}
#sign_op::after {
    left: 4px;
    right: 4px;
    bottom: -5px;
    z-index: -2;
    box-shadow: 0 8px 8px -5px rgba(0,0,0,.3);
}

#sign_op h1 {
    position: relative;
    font: italic 1em/3.5em 'trebuchet MS',Arial, Helvetica;
    color: #999;
    text-align: center;
    margin: 0 0 20px;
}
#sign_op h1::before,
#sign_op h1::after{
    content:'';
    position: absolute;
    border: 1px solid rgba(0,0,0,.15);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
}
#sign_op h1::after{
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
}

::-webkit-input-placeholder {
    color: #bbb;
}
:-moz-placeholder {
    color: #bbb;
}
.placeholder{
    color: #bbb;
}
#sign_op input{
    margin: 5px 0;
    padding: 15px;
    width: 100%;
    *width: 518px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#sign_op input:focus{
    outline: 0;
    border-color: #aaa;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .3) inset;
}
#sign_op button{
    margin: 20px 0 0 0;
    padding: 15px 8px;
    width: 100%;
    cursor: pointer;
    border: 1px solid #2493FF;
    overflow: visible;
    display: inline-block;
    color: #fff;
    font: bold 1.4em arial, helvetica;
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
    background-color: #2493ff;
    background-image: linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
    transition: background-color .2s ease-out;
    border-radius: 3px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .3), 0 1px 0 rgba(255, 255, 255, .5) inset;
}
#sign_op button:hover{
    background-color: #7cbfff;
    border-color: #7cbfff;
}
#sign_op button:active{
    position: relative;
    top: 3px;
    text-shadow: none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset;
}

.btn {
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
    outline: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    transition: .5s;
}

.btn:hover {background-position: right center;}
